#storybook-root, .sb-story {
  max-width: 1000px;
  width: 100%;
}


.css-1qq744x {
  align-items: unset!important;
  -webkit-box-align: unset!important;
  -webkit-align-items: unset!important;
  -webkit-align-content: unset!important;
  align-content: unset!important;
}

.css-ajfpqr {
  color: inherit!important;
}
